<div>
	<!--ADD action button-->
	<button class="btn btn-success btn-sm" ng-click="vm.action()">
		<span class="glyphicon glyphicon-plus"></span> {{'ACTION.add' | translate}}
	</button>

	<!--SHOW FILTER button-->
	<button type="button" class="btn btn-info btn-sm" ng-model="showFilter" uib-btn-checkbox
			ng-click="vm.toggleFilter()">
		<span class="glyphicon glyphicon-filter" aria-hidden="true"></span> {{'ACTION.filter' | translate}}
	</button>

	<!--CLEAR FILTER button-->
	<button type="button" class="btn btn-info btn-sm" ng-click="vm.tp.filter({})" ng-show="showFilter">
		<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
	</button>
</div>

