<!DOCTYPE html>
<html ng-app="App">
	<head>
		<title>Newod</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS -->
		<link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="webjars/ngtoast/1.5.6/dist/ngToast.min.css">
		<link rel="stylesheet" href="webjars/ngtoast/1.5.6/dist/ngToast-animations.min.css">
		<link rel='stylesheet' href="webjars/angular-loading-bar/0.9.0/loading-bar.min.css" media="all">
		<link rel='stylesheet' href="webjars/ng-table/1.0.0-beta.9/ng-table.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<!--Nav bar-->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/"><img src="images/logo.png"></a>
				</div>
				<div class="navbar-collapse collapse" id="navbar">
					<ul class="nav navbar-nav navbar-right" ng-controller="NavBarController">
						<li ng-class="{active: isActive('/home')}">
							<a href="#/home">{{'MENU.home' | translate}}</a>
						</li>
						<li class="dropdown">
							<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="">
								{{'MENU.entities' | translate}} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#/divisions">{{'DIVISION.label.many' | translate}}</a></li>
								<li><a href="#/cities">{{'CITY.label.many' | translate}}</a></li>
								<li><a href="#/stores">{{'STORE.label.many' | translate}}</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="">
								{{'LANG.label' | translate}} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="" ng-click="setLanguage('en')">{{'LANG.name.en' | translate}}</a></li>
								<li><a href="" ng-click="setLanguage('ru')">{{'LANG.name.ru' | translate}}</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!--end Nav bar-->

		<toast></toast>
		<div class="container">
			<div class="main" ui-view></div>
		</div>

		<!-- Webjars JavaScript -->
		<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
		<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="webjars/angularjs/1.5.5/angular.min.js"></script>
		<script src="webjars/angularjs/1.5.5/angular-sanitize.min.js"></script>
		<script src="webjars/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="webjars/angularjs/1.5.5/angular-resource.min.js"></script>
		<script src="webjars/angularjs/1.5.5/angular-cookies.min.js"></script>
		<script src="webjars/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
		<script src="webjars/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
		<script src="webjars/angular-translate/2.10.0/angular-translate.min.js"></script>
		<script src="webjars/angular-translate-storage-local/2.10.0/angular-translate-storage-local.min.js"></script>
		<script src="webjars/angular-translate-storage-cookie/2.5.2/angular-translate-storage-cookie.min.js"></script>
		<script src="webjars/angular-translate-loader-static-files/2.6.1/angular-translate-loader-static-files.min.js"></script>
		<script src="webjars/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
		<script src="webjars/ngtoast/1.5.6/dist/ngToast.min.js"></script>
		<script src="webjars/ng-table/1.0.0-beta.9/ng-table.min.js"></script>

		<!-- Project JavaScript -->
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
		<script src="js/directives.js"></script>

		<!-- Entities -->
		<script src="entities/division/division.state.js"></script>
		<script src="entities/division/division.service.js"></script>
		<script src="entities/division/division.controller.js"></script>

		<script src="entities/city/city.state.js"></script>
		<script src="entities/city/city.service.js"></script>
		<script src="entities/city/city.controller.js"></script>

		<script src="entities/store/store.state.js"></script>
		<script src="entities/store/store.service.js"></script>
		<script src="entities/store/store.controller.js"></script>
	</body>
</html>
