<html xmlns:th="http://www.thymeleaf.org">

	<div class="list-group col-md-4">
		<span class="list-group-item active" th:inline="text">
			[[#{divisions}]]
			<span class="badge">{{divisions.length}}</span>
		</span>
		<a href=""
		   class="list-group-item"
		   ng-repeat="division in divisions"
		   ng-click="$parent.selected = division"
		   ng-class="{'list-group-item-info':selected == division}">
			{{$index + 1}}. {{division.name}}
			<span class="label label-danger pull-right" ng-hide="division.enabled" th:text="#{closed}">Closed</span>
		</a>
	</div>

</html>
