<div class="row vertical-align">
	<div class="col-xs-4">
		<uib-pagination
				class="pagination-sm"
				ng-model="vm.page.number"
				ng-change="vm.reload()"
				total-items="vm.page.totalElements"
				max-size="5"
				boundary-link-numbers="true"
				rotate="false"
				items-per-page="vm.page.size"
				previous-text="&lsaquo;"
				next-text="&rsaquo;">
		</uib-pagination>
	</div>

	<div class="col-xs-4 text-center">
		{{'TEXT.items per page' | translate}}
		<select ng-model="vm.page.size" ng-options="c for c in vm.sizeArray" ng-change="vm.reload()"></select>
	</div>

	<div class="col-xs-4 text-right">
		<h4>
			<span class="label label-default" ng-cloak ng-if="vm.page.totalElements > 0">
				{{'TEXT.showing' | translate}} {{vm.page.firstIndex}} - {{vm.page.lastIndex}}
				{{'TEXT.from' | translate}} {{vm.page.totalElements}}
			</span>
		</h4>
	</div>
</div>
