<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>ГОРОДА</strong>
				<div class="pull-right">
					<span>Сортировка по: </span>
					<select ng-model="sort" convert-to-number ng-change="sortChanged()">
						<option value="0">дивизионам</option>
						<option value="1">алфавиту</option>
					</select>
				</div>
			</div>
			<div class="panel-body" ng-repeat="division in divisions | orderBy:'name'" ng-if="sort == 0">
					<span class="label label-primary font-base">{{division.name}}</span>
					<span class="label label-danger" ng-hide="division.enabled">Закрыт</span>
					<div class="city-list">
						<a href=""
							ng-repeat="city in division.cities | orderBy:'name'"
							ng-class="{closed : !city.enabled}"
							ng-click="selectCity(city)">
							{{city.name}}
						</a>
					</div>
			</div>
			<div class="panel-body" ng-if="sort == 1">
				<span class="city-list" ng-repeat="city in cities | orderBy:'name'">
					<div class="city-divider" ng-if="firstLetter(city.name) != firstLetter(cities[$index-1].name)">
						<span class="label label-primary font-base">{{firstLetter(city.name)}}</span>
					</div>
					<a href=""
					   ng-class="{closed : !city.enabled}"
					   ng-click="selectCity(city)">
						{{city.name}}
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="bs-sidebar affix">
			<div ng-if="!selectedCity">
				<h4>
					<span class="glyphicon glyphicon-triangle-left text-primary" aria-hidden="true"></span>
					Выберите город
				</h4>
				<hr>
			</div>
			<div class="panel panel-default" ng-if="selectedCity">
				<div class="panel-heading">
					<span ng-class="{closed : !selectedCity.enabled}">
						<strong>{{selectedCity.name}}</strong>
					</span>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li ng-repeat="store in stores | orderBy:'name'">
							<a href="#/store/{{store.id}}" ng-class="{closed : !store.enabled}">
								{{store.name}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
