<!--Header-->
<h3 class="text-success" ng-class="{'text-danger' : !data.store.enabled}">
	{{data.store.name}}
	<small>
		<div class="pull-right">
			<span ng-if="data.store.enabled" aria-hidden="true" class="glyphicon glyphicon-ok-sign text-success"></span>
			<span ng-if="!data.store.enabled" class="label label-danger">{{'TEXT.closed' | translate}}</span>
		</div>
	</small>
</h3>
<hr>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
	<li role="presentation" ui-sref-active="active">
		<a ui-sref=".contacts"><i class="glyphicon glyphicon-home"></i> {{'MENU.contacts' | translate}}</a>
	</li>
	<li role="presentation" ui-sref-active="active">
		<a ui-sref=".files"><i class="glyphicon glyphicon-paperclip"></i> {{'MENU.files' | translate}}</a>
	</li>
	<li role="presentation" ui-sref-active="active">
		<a ui-sref=".connections"><i class="glyphicon glyphicon-globe"></i> {{'MENU.connections' | translate}}</a>
	</li>
	<li role="presentation" ui-sref-active="active">
		<a ui-sref=".equipment"><i class="glyphicon glyphicon-cog"></i> {{'MENU.equipment' | translate}}</a>
	</li>
</ul>
<div class="tab-bordered" ui-view></div>
