body > .container {
	padding-top: 70px;	/* Padding for bootsrap navbar-fixed-top */
}

.nav.navbar-nav.navbar-right {
	padding-right: 15px;
}

.item-count {
	line-height: 5.5em;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.vertical-offset {
	margin-top: 1.5em;
}

.form-error {
	margin-bottom: 0;
	margin-top: 10px;
}

.ng-pager-text {
	line-height: 2.5em;
}

table.entity-table {
	background-color: white;
}

table.entity-table > tbody > tr {
	cursor: pointer;
}
