body > .container {
	padding-top: 70px;	/* Padding for bootsrap navbar-fixed-top */
}

.nav.navbar-nav.navbar-right {
	padding-right: 15px;
}

.form-error {
	margin-bottom: 0;
	margin-top: 10px;
}

.ng-pager-text {
	line-height: 2.5em;
}

table.entity-table {
	background-color: white;
}

.main {
	background: none;
}

.main.ng-enter {
	transition: .5s;
	opacity: 0;
}

.main.ng-enter-active {
	opacity: 1;
}

.tab-content {
	padding: 40px 15px 0;
}

.bg-white {
	background-color: white!important;
}
