<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Newod</title>
	<meta charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
</head>
<body>
	<p>Newod application!</p>

	<!-- JS -->
	<script src="https://yastatic.net/jquery/1.11.1/jquery.min.js" th:src="@{webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script src="https://yastatic.net/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>
