<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="App">
<head>
	<title>Newod</title>
	<meta charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{webjars/bootstrap/3.3.6/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">

</head>
<body>
	<!--Nav bar-->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Newod</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right" ng-controller="NavBarController">
					<li ng-class="{active: isActive('/home')}">
						<a href="#home" th:text="#{home}">Home</a>
					</li>
					<li ng-class="{active: isActive('/store-select')}">
						<a href="#store-select" th:text="#{stores}">Stores</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--end Nav bar-->

	<div class="container" ng-view></div>

	<!-- JS -->
	<script src="https://yastatic.net/jquery/1.11.1/jquery.min.js" th:src="@{webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script src="https://yastatic.net/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script src="https://code.angularjs.org/1.5.3/angular.min.js" th:src="@{webjars/angularjs/1.5.3/angular.min.js}"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-route.min.js" th:src="@{webjars/angularjs/1.5.3/angular-route.min.js}"></script>
	<script src="../static/js/app.js" th:src="@{js/app.js}"></script>
	<script src="../static/js/controllers.js" th:src="@{js/controllers.js}"></script>
</body>
</html>
