<h2>
	{{'DIVISION.label.many' | translate}}
	<newod-search-form></newod-search-form>
</h2>
<br>
<table ng-table="vm.tp" class="table table-bordered" style="background: white">
	<tr ng-repeat="division in $data"
		ng-click="vm.setSelected(division)"
		ng-class="{'alert-warning' : vm.entity.id == division.id}"
		style="cursor: pointer">
		<td width="10%" data-title="'#'">
			{{vm.firstRow + $index}}
		</td>
		<td  width="70%" data-title="'ENTITY_FIELD.name' | translate" sortable="'name'">
			{{division.name}}
		</td>
		<td align="center" data-title="'Enabled'" sortable="'enabled'">
			{{division.enabled}}
		</td>
	</tr>
</table>
