<div class="row">
	<form name="contacts" class="col-md-8 form-horizontal">

		<!--Name-->

		<div class="form-group" ng-class="{'has-error' : contacts.name.$invalid}">
			<label class="col-md-2 control-label">{{'ENTITY_FIELD.name' | translate}}</label>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="{{'ENTITY_FIELD.name' | translate}}" name="name"
					   ng-model="data.store.name">
				<div class="alert alert-danger form-error" role="alert" ng-if="contacts.name.$invalid">
					<div ng-repeat="error in errors.name">{{error}}</div>
				</div>
			</div>
		</div>

		<!--City-->

		<div class="form-group">
			<label class="col-md-2 control-label">{{'CITY.label.one' | translate}}</label>
			<div class="col-md-10">
				<select class="form-control" ng-model="data.store.city" ng-options="city.name for city in data.cities track by city.id"></select>
			</div>
		</div>

		<!--Address-->

		<div class="form-group" ng-class="{'has-error' : contacts.address.$invalid}">
			<label class="col-md-2 control-label">{{'ENTITY_FIELD.address' | translate}}</label>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="{{'ENTITY_FIELD.address' | translate}}" name="address"
					   ng-model="data.store.address">
				<div class="alert alert-danger form-error" role="alert" ng-if="contacts.address.$invalid">
					<div ng-repeat="error in errors.address">{{error}}</div>
				</div>
			</div>
		</div>

		<!--Enabled-->

		<div class="form-group">
			<div class="checkbox col-md-offset-2 col-md-10">
				<label>
					<input type="checkbox" ng-model="data.store.enabled">{{'ENTITY_FIELD.enabled' | translate}}
				</label>
			</div>
		</div>

		<!--Open Date-->

		<div class="form-group">
			<label class="col-md-2 control-label">{{'ENTITY_FIELD.open_date' | translate}}</label>
			<div class="col-md-10">
				<span class="input-group">
					<input type="text" class="form-control bg-white" uib-datepicker-popup="dd MMMM yyyy" ng-model="data.store.opendate"
						   popup-placement="bottom-right"
						   close-on-date-selection="false"
						   is-open="isOpendate" readonly/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="isOpendate = !isOpendate">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</span>
			</div>
		</div>

		<!--Close Date-->

		<div class="form-group" ng-hide="data.store.enabled">
			<label class="col-md-2 control-label">{{'ENTITY_FIELD.close_date' | translate}}</label>
			<div class="col-md-10">
				<span class="input-group">
					<input type="text" class="form-control bg-white" uib-datepicker-popup="dd MMMM yyyy" ng-model="data.store.closedate"
						   popup-placement="bottom-right"
						   close-on-date-selection="false"
						   is-open="isClosedate" readonly/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="isClosedate = !isClosedate">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</span>
			</div>
		</div>

		<!--Note-->

		<div class="form-group" ng-class="{'has-error' : contacts.note.$invalid}">
			<label class="col-md-2 control-label">{{'ENTITY_FIELD.note' | translate}}</label>
			<div class="col-md-10">
				<textarea class="form-control" rows="2" placeholder="{{'ENTITY_FIELD.note' | translate}}" name="note"
						  ng-model="data.store.note"></textarea>
				<div class="alert alert-danger form-error" role="alert" ng-if="contacts.note.$invalid">
					<div ng-repeat="error in errors.note">{{error}}</div>
				</div>
			</div>
		</div>

		<!--Action Buttons-->

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="contacts.$pristine">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
					{{'ACTION.save' | translate}}
				</button>
				<button ng-if="contacts.$dirty" type="button" class="btn btn-warning" ng-click="reset()">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					{{'ACTION.reset' | translate}}
				</button>
				<button type="button" class="btn btn-danger pull-right">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					{{'ACTION.delete' | translate}}
				</button>
			</div>
		</div>
	</form>

	<div class="col-md-4">
		phones table
	</div>
</div>
